
<div class="card" style="margin: 0 auto; width: 30rem;">
    <h1 class="text-center" style="font-size: 6em;">{{ entry.headword }}</h1>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                </div>
            </div>
           <div class="row">
                <div class="col-sm">
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Show info
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div><b>{{ entry.pron }}</b></div>
                        <div>{{ entry.defn }}</div>
                    </div>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="row">
                <div class="col-sm">
                    <a href="{% url 'lesson_mark_correct' entryPk=entry.pk lessonPk=lesson_pk lessonIndex=lesson_index %}" class="btn btn-success btn-block">Mark as correct</a>
                </div>
                <div class="col-sm">
                    <a href="{% url 'lesson_mark_incorrect' entryPk=entry.pk lessonPk=lesson_pk lessonIndex=lesson_index %}" class="btn btn-danger btn-block">Mark as incorrect</a>
                </div>
            </div>
        </div>
    </div>
</div>